.product__nav{

  .product__item{
    width:14%;
    .product__item-title{
      position: relative;
      img{
        max-width:100%;
      }
      p{
        position: absolute;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        color: @white;
        width:700px;
        text-transform: uppercase;
        left:60px;
        font-size:62px;

      }

    }

  }


}